body {
    background-color: whitesmoke
}

header {
  
    padding: 20px 10px;
    background-color: #1abc9c;
    color: white;
    overflow: hidden;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 7px 7px rgb(0 0 0 / 25%);
}

body {
    font-family: Arial;
    margin: 0;
  }

.footers {
  padding: 20px 10px;
    width: 100%;
    margin-top: 3em;
    background-color: #1abc9c;
    box-shadow: 0px 0px 10px 0px
}

/* Home */
.home-content {
  margin-bottom: 1rem;
  display:flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}

.content-consistOf {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;

} 

.image-placing {
  padding-top: 20px;
  padding-left: 100px;
} 

.home-profileimage {
  flex: 66.66667%;
  max-width: 66.66667%;
}

:before, :after {
  box-sizing: border-box;
}

/*Link header CSS */
.menuNav a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .menuNav a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .menuNav a:hover {
    cursor: pointer;
    background-color: #ddd;
    color: black;
  }
  

  /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Github */
.fa-github {
  background: #000000;
  color: white;
}

.linkIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
}

.projects {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
}

.project {
  margin-top:40px;
}