body {
    background-color: whitesmoke
}

header {
    padding: 10px;
    background: #1abc9c;
    color: white;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}

body {
    font-family: Arial;
    margin: 0;
  }

.footers {
    background: #1abc9c;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    padding: 0 1em 2em;
}
.links {
    display:flex;
}