body {
    background-color: whitesmoke
}

header {
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}

body {
    font-family: Arial;
    margin: 0;
  }

.footers {
    clear: both;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 3em;
    color: #eee;
    background-color:  #1abc9c;
}
.links {
    display:flex;
}

.linksHEader {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
}
.iconHeader {
    display: block;
    list-style-type: none;
    white-space: nowrap;
    margin-bottom: 0;
    list-style: none;
}

.menuNav{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 2em;
 
}

.linksIcons {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.linkIcon{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: .75em;
    text-transform: uppercase;
}
